.grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -0.5rem;
}
.col {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 0.5rem 1rem;
}
.col {
  flex: 1 1 0%;
}

.grid .col {
  margin: 0;
  padding: 0;
}

.grid .noGutter {
  margin: 0;
}
.grid .noGutter > .col {
  padding: 0;
}
.grid .center {
  justify-content: center;
}
.grid .right {
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}
.grid .top {
  align-items: flex-start;
}
.grid .middle {
  align-items: center;
}
.grid .bottom {
  align-items: flex-end;
}
.grid .reverse {
  flex-direction: row-reverse;
}
.grid .column {
  flex-direction: column;
}
.grid .column > .col {
  flex-basis: auto;
}
.grid .column-reverse {
  flex-direction: column-reverse;
}
.grid .spaceBetween {
  justify-content: space-between;
}
.grid .spaceAround {
  justify-content: space-around;
}
.grid .equalHeight > .col {
  display: flex;
}
.grid .noBottom > .col {
  padding-bottom: 0;
}
.col .top {
  align-self: flex-start;
}
.col .middle {
  align-self: center;
}
.col .bottom {
  align-self: flex-end;
}
.col .first {
  order: -1;
}
.col .last {
  order: 1;
}
/************************
    GRID BY NUMBER
*************************/
.grid-1 > .col {
  flex-basis: 100%;
  max-width: 100%;
}
.grid-2 > .col {
  flex-basis: 50%;
  max-width: 50%;
}
.grid-3 > .col {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.grid-4 > .col {
  flex-basis: 25%;
  max-width: 25%;
}
.grid-5 > .col {
  flex-basis: 20%;
  max-width: 20%;
}
.grid-6 > .col {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.grid-7 > .col {
  flex-basis: 14.28571429%;
  max-width: 14.28571429%;
}
.grid-8 > .col {
  flex-basis: 12.5%;
  max-width: 12.5%;
}
.grid-9 > .col {
  flex-basis: 11.11111111%;
  max-width: 11.11111111%;
}
.grid-10 > .col {
  flex-basis: 10%;
  max-width: 10%;
}
.grid-11 > .col {
  flex-basis: 9.09090909%;
  max-width: 9.09090909%;
}
.grid-12 > .col {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
@media screen and (max-width: 80em) {
  ._lg-1 > .col,
  ._lg-1 > .col- {
    flex-basis: 100%;
    max-width: 100%;
  }
  ._lg-2 > .col,
  ._lg-2 > .col- {
    flex-basis: 50%;
    max-width: 50%;
  }
  ._lg-3 > .col,
  ._lg-3 > .col- {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  ._lg-4 > .col,
  ._lg-4 > .col- {
    flex-basis: 25%;
    max-width: 25%;
  }
  ._lg-5 > .col,
  ._lg-5 > .col- {
    flex-basis: 20%;
    max-width: 20%;
  }
  ._lg-6 > .col,
  ._lg-6 > .col- {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  ._lg-7 > .col,
  ._lg-7 > .col- {
    flex-basis: 14.28571429%;
    max-width: 14.28571429%;
  }
  ._lg-8 > .col,
  ._lg-8 > .col- {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  ._lg-9 > .col,
  ._lg-9 > .col- {
    flex-basis: 11.11111111%;
    max-width: 11.11111111%;
  }
  ._lg-10 > .col,
  ._lg-10 > .col- {
    flex-basis: 10%;
    max-width: 10%;
  }
  ._lg-11 > .col,
  ._lg-10 > .col- {
    flex-basis: 9.09090909%;
    max-width: 9.09090909%;
  }
  ._lg-12 > .col,
  ._lg-11 > .col- {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
}
@media screen and (max-width: 64em) {
  ._md-1 > .col,
  ._md-1 > .col- {
    flex-basis: 100%;
    max-width: 100%;
  }
  ._md-2 > .col,
  ._md-2 > .col- {
    flex-basis: 50%;
    max-width: 50%;
  }
  ._md-3 > .col,
  ._md-3 > .col- {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  ._md-4 > .col,
  ._md-4 > .col- {
    flex-basis: 25%;
    max-width: 25%;
  }
  ._md-5 > .col,
  ._md-5 > .col- {
    flex-basis: 20%;
    max-width: 20%;
  }
  ._md-6 > .col,
  ._md-6 > .col- {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  ._md-7 > .col,
  ._md-7 > .col- {
    flex-basis: 14.28571429%;
    max-width: 14.28571429%;
  }
  ._md-8 > .col,
  ._md-8 > .col- {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  ._md-9 > .col,
  ._md-9 > .col- {
    flex-basis: 11.11111111%;
    max-width: 11.11111111%;
  }
  ._md-10 > .col,
  ._md-10 > .col- {
    flex-basis: 10%;
    max-width: 10%;
  }
  ._md-11 > .col,
  ._md-10 > .col- {
    flex-basis: 9.09090909%;
    max-width: 9.09090909%;
  }
  ._md-12 > .col,
  ._md-11 > .col- {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
}
@media screen and (max-width: 48em) {
  ._sm-1 > .col,
  ._sm-1 > .col- {
    flex-basis: 100%;
    max-width: 100%;
  }
  ._sm-2 > .col,
  ._sm-2 > .col- {
    flex-basis: 50%;
    max-width: 50%;
  }
  ._sm-3 > .col,
  ._sm-3 > .col- {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  ._sm-4 > .col,
  ._sm-4 > .col- {
    flex-basis: 25%;
    max-width: 25%;
  }
  ._sm-5 > .col,
  ._sm-5 > .col- {
    flex-basis: 20%;
    max-width: 20%;
  }
  ._sm-6 > .col,
  ._sm-6 > .col- {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  ._sm-7 > .col,
  ._sm-7 > .col- {
    flex-basis: 14.28571429%;
    max-width: 14.28571429%;
  }
  ._sm-8 > .col,
  ._sm-8 > .col- {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  ._sm-9 > .col,
  ._sm-9 > .col- {
    flex-basis: 11.11111111%;
    max-width: 11.11111111%;
  }
  ._sm-10 > .col,
  ._sm-10 > .col- {
    flex-basis: 10%;
    max-width: 10%;
  }
  ._sm-11 > .col,
  ._sm-10 > .col- {
    flex-basis: 9.09090909%;
    max-width: 9.09090909%;
  }
  ._sm-12 > .col,
  ._sm-11 > .col- {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
}
@media screen and (max-width: 35.5em) {
  ._xs-1 > .col,
  ._xs-1 > .col- {
    flex-basis: 100%;
    max-width: 100%;
  }
  ._xs-2 > .col,
  ._xs-2 > .col- {
    flex-basis: 50%;
    max-width: 50%;
  }
  ._xs-3 > .col,
  ._xs-3 > .col- {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  ._xs-4 > .col,
  ._xs-4 > .col- {
    flex-basis: 25%;
    max-width: 25%;
  }
  ._xs-5 > .col,
  ._xs-5 > .col- {
    flex-basis: 20%;
    max-width: 20%;
  }
  ._xs-6 > .col,
  ._xs-6 > .col- {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  ._xs-7 > .col,
  ._xs-7 > .col- {
    flex-basis: 14.28571429%;
    max-width: 14.28571429%;
  }
  ._xs-8 > .col,
  ._xs-8 > .col- {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  ._xs-9 > .col,
  ._xs-9 > .col- {
    flex-basis: 11.11111111%;
    max-width: 11.11111111%;
  }
  ._xs-10 > .col,
  ._xs-10 > .col- {
    flex-basis: 10%;
    max-width: 10%;
  }
  ._xs-11 > .col,
  ._xs-10 > .col- {
    flex-basis: 9.09090909%;
    max-width: 9.09090909%;
  }
  ._xs-12 > .col,
  ._xs-11 > .col- {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
}
/************************
    COLS SIZES
*************************/
.grid > .col-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.grid > .col-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.grid > .col-3 {
  flex-basis: 25%;
  max-width: 25%;
}
.grid > .col-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.grid > .col-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.grid > .col-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.grid > .col-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.grid > .col-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.grid > .col-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.grid > .col-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.grid > .col-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.grid > .col-12 {
  flex-basis: 100%;
  max-width: 100%;
}
.grid > .push-left-off-0 {
  margin-left: 0;
}
.grid > .push-left-off-1 {
  margin-left: 8.33333333%;
}
.grid > .push-left-off-2 {
  margin-left: 16.66666667%;
}
.grid > .push-left-off-3 {
  margin-left: 25%;
}
.grid > .push-left-off-4 {
  margin-left: 33.33333333%;
}
.grid > .push-left-off-5 {
  margin-left: 41.66666667%;
}
.grid > .push-left-off-6 {
  margin-left: 50%;
}
.grid > .push-left-off-6 {
  margin-left: 50%;
}
.grid > .push-left-off-7 {
  margin-left: 58.33333333%;
}
.grid > .push-left-off-8 {
  margin-left: 66.66666667%;
}
.grid > .push-left-off-9 {
  margin-left: 75%;
}
.grid > .push-left-off-10 {
  margin-left: 83.33333333%;
}
.grid > .push-left-off-11 {
  margin-left: 91.66666667%;
}
.grid > .push-right-off-0 {
  margin-right: 0;
}
.grid > .push-right-off-1 {
  margin-right: 8.33333333%;
}
.grid > .push-right-off-2 {
  margin-right: 16.66666667%;
}
.grid > .push-right-off-3 {
  margin-right: 25%;
}
.grid > .push-right-off-4 {
  margin-right: 33.33333333%;
}
.grid > .push-right-off-5 {
  margin-right: 41.66666667%;
}
.grid > .push-right-off-6 {
  margin-right: 50%;
}
.grid > .push-right-off-6 {
  margin-right: 50%;
}
.grid > .push-right-off-7 {
  margin-right: 58.33333333%;
}
.grid > .push-right-off-8 {
  margin-right: 66.66666667%;
}
.grid > .push-right-off-9 {
  margin-right: 75%;
}
.grid > .push-right-off-10 {
  margin-right: 83.33333333%;
}
.grid > .push-right-off-11 {
  margin-right: 91.66666667%;
}
@media screen and (max-width: 80em) {
  .grid > ._lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .grid > ._lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .grid > ._lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid > ._lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .grid > ._lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .grid > ._lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid > ._lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .grid > ._lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .grid > ._lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid > ._lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .grid > ._lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .grid > ._lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .grid > .push-left-_lg-0 {
    margin-left: 0;
  }
  .grid > .push-left-_lg-1 {
    margin-left: 8.33333333%;
  }
  .grid > .push-left-_lg-2 {
    margin-left: 16.66666667%;
  }
  .grid > .push-left-_lg-3 {
    margin-left: 25%;
  }
  .grid > .push-left-_lg-4 {
    margin-left: 33.33333333%;
  }
  .grid > .push-left-_lg-5 {
    margin-left: 41.66666667%;
  }
  .grid > .push-left-_lg-6 {
    margin-left: 50%;
  }
  .grid > .push-left-_lg-6 {
    margin-left: 50%;
  }
  .grid > .push-left-_lg-7 {
    margin-left: 58.33333333%;
  }
  .grid > .push-left-_lg-8 {
    margin-left: 66.66666667%;
  }
  .grid > .push-left-_lg-9 {
    margin-left: 75%;
  }
  .grid > .push-left-_lg-10 {
    margin-left: 83.33333333%;
  }
  .grid > .push-left-_lg-11 {
    margin-left: 91.66666667%;
  }
  .grid > .push-right-_lg-0 {
    margin-right: 0;
  }
  .grid > .push-right-_lg-1 {
    margin-right: 8.33333333%;
  }
  .grid > .push-right-_lg-2 {
    margin-right: 16.66666667%;
  }
  .grid > .push-right-_lg-3 {
    margin-right: 25%;
  }
  .grid > .push-right-_lg-4 {
    margin-right: 33.33333333%;
  }
  .grid > .push-right-_lg-5 {
    margin-right: 41.66666667%;
  }
  .grid > .push-right-_lg-6 {
    margin-right: 50%;
  }
  .grid > .push-right-_lg-6 {
    margin-right: 50%;
  }
  .grid > .push-right-_lg-7 {
    margin-right: 58.33333333%;
  }
  .grid > .push-right-_lg-8 {
    margin-right: 66.66666667%;
  }
  .grid > .push-right-_lg-9 {
    margin-right: 75%;
  }
  .grid > .push-right-_lg-10 {
    margin-right: 83.33333333%;
  }
  .grid > .push-right-_lg-11 {
    margin-right: 91.66666667%;
  }
}
@media screen and (max-width: 64em) {
  .grid > ._md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .grid > ._md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .grid > ._md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid > ._md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .grid > ._md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .grid > ._md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid > ._md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .grid > ._md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .grid > ._md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid > ._md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .grid > ._md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .grid > ._md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .grid > .push-left-_md-0 {
    margin-left: 0;
  }
  .grid > .push-left-_md-1 {
    margin-left: 8.33333333%;
  }
  .grid > .push-left-_md-2 {
    margin-left: 16.66666667%;
  }
  .grid > .push-left-_md-3 {
    margin-left: 25%;
  }
  .grid > .push-left-_md-4 {
    margin-left: 33.33333333%;
  }
  .grid > .push-left-_md-5 {
    margin-left: 41.66666667%;
  }
  .grid > .push-left-_md-6 {
    margin-left: 50%;
  }
  .grid > .push-left-_md-6 {
    margin-left: 50%;
  }
  .grid > .push-left-_md-7 {
    margin-left: 58.33333333%;
  }
  .grid > .push-left-_md-8 {
    margin-left: 66.66666667%;
  }
  .grid > .push-left-_md-9 {
    margin-left: 75%;
  }
  .grid > .push-left-_md-10 {
    margin-left: 83.33333333%;
  }
  .grid > .push-left-_md-11 {
    margin-left: 91.66666667%;
  }
  .grid > .push-right-_md-0 {
    margin-right: 0;
  }
  .grid > .push-right-_md-1 {
    margin-right: 8.33333333%;
  }
  .grid > .push-right-_md-2 {
    margin-right: 16.66666667%;
  }
  .grid > .push-right-_md-3 {
    margin-right: 25%;
  }
  .grid > .push-right-_md-4 {
    margin-right: 33.33333333%;
  }
  .grid > .push-right-_md-5 {
    margin-right: 41.66666667%;
  }
  .grid > .push-right-_md-6 {
    margin-right: 50%;
  }
  .grid > .push-right-_md-6 {
    margin-right: 50%;
  }
  .grid > .push-right-_md-7 {
    margin-right: 58.33333333%;
  }
  .grid > .push-right-_md-8 {
    margin-right: 66.66666667%;
  }
  .grid > .push-right-_md-9 {
    margin-right: 75%;
  }
  .grid > .push-right-_md-10 {
    margin-right: 83.33333333%;
  }
  .grid > .push-right-_md-11 {
    margin-right: 91.66666667%;
  }
}
@media screen and (max-width: 48em) {
  .grid > ._sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .grid > ._sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .grid > ._sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid > ._sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .grid > ._sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .grid > ._sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid > ._sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .grid > ._sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .grid > ._sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid > ._sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .grid > ._sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .grid > ._sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .grid > .push-left-_sm-0 {
    margin-left: 0;
  }
  .grid > .push-left-_sm-1 {
    margin-left: 8.33333333%;
  }
  .grid > .push-left-_sm-2 {
    margin-left: 16.66666667%;
  }
  .grid > .push-left-_sm-3 {
    margin-left: 25%;
  }
  .grid > .push-left-_sm-4 {
    margin-left: 33.33333333%;
  }
  .grid > .push-left-_sm-5 {
    margin-left: 41.66666667%;
  }
  .grid > .push-left-_sm-6 {
    margin-left: 50%;
  }
  .grid > .push-left-_sm-6 {
    margin-left: 50%;
  }
  .grid > .push-left-_sm-7 {
    margin-left: 58.33333333%;
  }
  .grid > .push-left-_sm-8 {
    margin-left: 66.66666667%;
  }
  .grid > .push-left-_sm-9 {
    margin-left: 75%;
  }
  .grid > .push-left-_sm-10 {
    margin-left: 83.33333333%;
  }
  .grid > .push-left-_sm-11 {
    margin-left: 91.66666667%;
  }
  .grid > .push-right-_sm-0 {
    margin-right: 0;
  }
  .grid > .push-right-_sm-1 {
    margin-right: 8.33333333%;
  }
  .grid > .push-right-_sm-2 {
    margin-right: 16.66666667%;
  }
  .grid > .push-right-_sm-3 {
    margin-right: 25%;
  }
  .grid > .push-right-_sm-4 {
    margin-right: 33.33333333%;
  }
  .grid > .push-right-_sm-5 {
    margin-right: 41.66666667%;
  }
  .grid > .push-right-_sm-6 {
    margin-right: 50%;
  }
  .grid > .push-right-_sm-6 {
    margin-right: 50%;
  }
  .grid > .push-right-_sm-7 {
    margin-right: 58.33333333%;
  }
  .grid > .push-right-_sm-8 {
    margin-right: 66.66666667%;
  }
  .grid > .push-right-_sm-9 {
    margin-right: 75%;
  }
  .grid > .push-right-_sm-10 {
    margin-right: 83.33333333%;
  }
  .grid > .push-right-_sm-11 {
    margin-right: 91.66666667%;
  }
}
@media screen and (max-width: 35.5em) {
  .grid > ._xs-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .grid > ._xs-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .grid > ._xs-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .grid > ._xs-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .grid > ._xs-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .grid > ._xs-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .grid > ._xs-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .grid > ._xs-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .grid > ._xs-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .grid > ._xs-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .grid > ._xs-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .grid > ._xs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .grid > .push-left-_xs-0 {
    margin-left: 0;
  }
  .grid > .push-left-_xs-1 {
    margin-left: 8.33333333%;
  }
  .grid > .push-left-_xs-2 {
    margin-left: 16.66666667%;
  }
  .grid > .push-left-_xs-3 {
    margin-left: 25%;
  }
  .grid > .push-left-_xs-4 {
    margin-left: 33.33333333%;
  }
  .grid > .push-left-_xs-5 {
    margin-left: 41.66666667%;
  }
  .grid > .push-left-_xs-6 {
    margin-left: 50%;
  }
  .grid > .push-left-_xs-6 {
    margin-left: 50%;
  }
  .grid > .push-left-_xs-7 {
    margin-left: 58.33333333%;
  }
  .grid > .push-left-_xs-8 {
    margin-left: 66.66666667%;
  }
  .grid > .push-left-_xs-9 {
    margin-left: 75%;
  }
  .grid > .push-left-_xs-10 {
    margin-left: 83.33333333%;
  }
  .grid > .push-left-_xs-11 {
    margin-left: 91.66666667%;
  }
  .grid > .push-right-_xs-0 {
    margin-right: 0;
  }
  .grid > .push-right-_xs-1 {
    margin-right: 8.33333333%;
  }
  .grid > .push-right-_xs-2 {
    margin-right: 16.66666667%;
  }
  .grid > .push-right-_xs-3 {
    margin-right: 25%;
  }
  .grid > .push-right-_xs-4 {
    margin-right: 33.33333333%;
  }
  .grid > .push-right-_xs-5 {
    margin-right: 41.66666667%;
  }
  .grid > .push-right-_xs-6 {
    margin-right: 50%;
  }
  .grid > .push-right-_xs-6 {
    margin-right: 50%;
  }
  .grid > .push-right-_xs-7 {
    margin-right: 58.33333333%;
  }
  .grid > .push-right-_xs-8 {
    margin-right: 66.66666667%;
  }
  .grid > .push-right-_xs-9 {
    margin-right: 75%;
  }
  .grid > .push-right-_xs-10 {
    margin-right: 83.33333333%;
  }
  .grid > .push-right-_xs-11 {
    margin-right: 91.66666667%;
  }
}

/************************
    FIXED COLS SIZES
*************************/

.fixed,
.fixed- {
  box-sizing: border-box;
  flex-direction: column;
  width: 0;
  height: auto;
}

.fullHeight-on {
  height: 100vh;
}

.grid- .noGutter > .fixed- {
  padding: 0;
}

/************************
    FIXED COLS SIZES
*************************/
.grid > .fixed-10 {
  width: 10rem;
}
.grid > .fixed-15 {
  width: 15rem;
}
.grid > .fixed-20 {
  width: 20rem;
}
.grid > .fixed-25 {
  width: 25rem;
}
.grid > .fixed-30 {
  width: 30rem;
}
.grid > .fixed-35 {
  width: 35rem;
}
.grid > .fixed-40 {
  width: 40rem;
}
.grid > .fixed-max {
  width: 0;
  flex: 1 1 0%;
}
.grid > .fixed-auto {
  flex-basis: 100%;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 80em) {
  .grid > ._flg-10 {
    width: 10rem;
  }
  .grid > ._flg-15 {
    width: 15rem;
  }
  .grid > ._flg-20 {
    width: 20rem;
  }
  .grid > ._flg-25 {
    width: 25rem;
  }
  .grid > ._flg-30 {
    width: 30rem;
  }
  .grid > ._flg-35 {
    width: 35rem;
  }
  .grid > ._flg-40 {
    width: 40rem;
  }
  .grid > ._flg-max {
    width: 0;
    flex: 1 1 0%;
  }
  .grid > ._flg-auto {
    flex-basis: 100%;
    max-width: 100%;
    height: auto;
  }
  .grid > .fullHeight_lg-off {
    height: auto;
  }
}

@media screen and (max-width: 64em) {
  .grid > ._fmd-10 {
    width: 10rem;
  }
  .grid > ._fmd-15 {
    width: 15rem;
  }
  .grid > ._fmd-20 {
    width: 20rem;
  }
  .grid > ._fmd-25 {
    width: 25rem;
  }
  .grid > ._fmd-30 {
    width: 30rem;
  }
  .grid > ._fmd-35 {
    width: 35rem;
  }
  .grid > ._fmd-40 {
    width: 40rem;
  }
  .grid > ._fmd-max {
    width: 0;
    flex: 1 1 0%;
  }
  .grid > ._fmd-auto {
    flex-basis: 100%;
    max-width: 100%;
    height: auto;
  }
  .grid > .fullHeight_md-off {
    height: auto;
  }
}

@media screen and (max-width: 48em) {
  .grid > ._fsm-10 {
    width: 10rem;
  }
  .grid > ._fsm-15 {
    width: 15rem;
  }
  .grid > ._fsm-20 {
    width: 20rem;
  }
  .grid > ._fsm-25 {
    width: 25rem;
  }
  .grid > ._fsm-30 {
    width: 30rem;
  }
  .grid > ._fsm-35 {
    width: 35rem;
  }
  .grid > ._fsm-40 {
    width: 40rem;
  }
  .grid > ._fsm-max {
    width: 0;
    flex: 1 1 0%;
  }
  .grid > ._fsm-auto {
    flex-basis: 100%;
    max-width: 100%;
    height: auto;
  }
  .grid > .fullHeight_sm-off {
    height: auto;
  }
}

@media screen and (max-width: 35.5em) {
  .grid > ._fxs-10 {
    width: 10rem;
  }
  .grid > ._fxs-15 {
    width: 15rem;
  }
  .grid > ._fxs-20 {
    width: 20rem;
  }
  .grid > ._fxs-25 {
    width: 25rem;
  }
  .grid > ._fxs-30 {
    width: 30rem;
  }
  .grid > ._fxs-35 {
    width: 35rem;
  }
  .grid > ._fxs-40 {
    width: 40rem;
  }
  .grid > ._fxs-max {
    width: 0;
    flex: 1 1 0%;
  }
  .grid > ._fxs-auto {
    flex-basis: 100%;
    max-width: 100%;
    height: auto;
  }
  .grid > .fullHeight_xs-off {
    height: auto;
  }
}
