.sui-flex { display: flex; }

.sui-flex.sui-flex-vertical { flex-direction: column; }

.sui-flex.sui-flex-grow { flex-grow: 1; }
.sui-flex.sui-flex-wrap { flex-wrap: wrap; }
.sui-flex.sui-flex-hidden { display: none; }
.sui-flex.sui-flex-overflow-y { overflow-y: auto }

.sui-flex.sui-flex-bottom { align-items: flex-start; }
.sui-flex.sui-flex-middle { align-items: center; }
.sui-flex.sui-flex-bottom { align-items: flex-end; }

.sui-flex.sui-flex-start { justify-content: flex-start; }
.sui-flex.sui-flex-center { justify-content: center; }
.sui-flex.sui-flex-end { justify-content: flex-end; }
.sui-flex.sui-flex-between { justify-content: space-between; }

.sui-flex.sui-flex-gutter-x4 { margin-left: -2px; margin-right: -2px; }
.sui-flex.sui-flex-gutter-x8 { margin-left: -4px; margin-right: -4px; }
.sui-flex.sui-flex-gutter-x16 { margin-left: -8px; margin-right: -8px; }
.sui-flex.sui-flex-gutter-x24 { margin-left: -12px; margin-right: -12px; }
.sui-flex.sui-flex-gutter-x32 { margin-left: -16px; margin-right: -16px; }
.sui-flex.sui-flex-gutter-x40 { margin-left: -20px; margin-right: -20px; }

.sui-flex.sui-flex-gutter-x4 > * { margin-left: 2px; margin-right: 2px; }
.sui-flex.sui-flex-gutter-x8 > * { margin-left: 4px; margin-right: 4px; }
.sui-flex.sui-flex-gutter-x16 > * { margin-left: 8px; margin-right: 8px; }
.sui-flex.sui-flex-gutter-x24 > * { margin-left: 12px; margin-right: 12px; }
.sui-flex.sui-flex-gutter-x32 > * { margin-left: 16px; margin-right: 16px; }
.sui-flex.sui-flex-gutter-x40 > * { margin-left: 20px; margin-right: 20px; }

.sui-flex.sui-flex-gutter-y4 { margin-top: -2px; margin-bottom: -2px; }
.sui-flex.sui-flex-gutter-y8 { margin-top: -4px; margin-bottom: -4px; }
.sui-flex.sui-flex-gutter-y16 { margin-top: -8px; margin-bottom: -8px; }
.sui-flex.sui-flex-gutter-y24 { margin-top: -12px; margin-bottom: -12px; }
.sui-flex.sui-flex-gutter-y32 { margin-top: -16px; margin-bottom: -16px; }
.sui-flex.sui-flex-gutter-y40 { margin-top: -20px; margin-bottom: -20px; }

.sui-flex.sui-flex-gutter-y4 > * { margin-top: 2px; margin-bottom: 2px; }
.sui-flex.sui-flex-gutter-y8 > * { margin-top: 4px; margin-bottom: 4px; }
.sui-flex.sui-flex-gutter-y16 > * { margin-top: 8px; margin-bottom: 8px; }
.sui-flex.sui-flex-gutter-y24 > * { margin-top: 12px; margin-bottom: 12px; }
.sui-flex.sui-flex-gutter-y32 > * { margin-top: 16px; margin-bottom: 16px; }
.sui-flex.sui-flex-gutter-y40 > * { margin-top: 20px; margin-bottom: 20px; }